/* utilities */
.flex {
    display: flex;
}
.openSans{
    font-family: 'Open Sans';
}
.nunito{
    font-family: 'Nunito';
}
.btn:hover{
    transform: scale(0.98);
}
.btn{
    cursor: pointer;
    vertical-align: middle;
    height: 53px;
    font-weight: 400;
    font-size: 20px;
}
/* index page styles */

.purpleBlock{
    background: #7025FB;
    padding: 30px 30px 30px 60px;
    width: 923px;
    height: 84px;
}
.crown{
    width: 18px;
    vertical-align: middle;
}
.crownText{
    vertical-align: middle;
}
.orangeBlock{
    background: #FD5334;
    height: 100%;
    width: 997px;
    border-radius: 0px;
}
.mainText{
    color: white;
    font-weight: 800;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;
    padding-top: 265px;
    margin-left: 85px;
}    
.littleBlack{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 109px;
    vertical-align: top;
}
.headerPhoto{
    height: 996px;
    width: 923px;
    object-fit: cover;
    vertical-align:top;
}
.startButton{
    background-color: black;
    border-radius: 12px;
    width: 180px;
    color: white;
    margin: 102px 0 0 85px ;
}
.arrow{
    width: 25px;
    vertical-align: middle;
}
/* form page styles */

.headerTextBlack{
    position: absolute;
    width: 423px;
    height: 83px;
    left: 130px;
    top: 330px;
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #212529;
}
.headerTextWhite{
    position: absolute;
    width: 222px;
    height: 33px;
    left: 130px;
    top: 412px;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #E5E6E8;
}
.whiteBlock{
    flex-direction: column;
}
.firstP{
    margin: 30px 0 0 48px;
    width: 215px;
    font-weight: 600;
    font-size: 16px;
    color: #212529;
}
.grayLine{
    margin-top: 35px;
    width: 997px;
    border: 1px solid rgba(185, 180, 196, 0.3);
}
.twoBlocks{
    margin: 98px 0 0 48px;
    width: 366px;
    height: 65px;
    align-items: center;
}
.column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column:last-child{
    margin-left: 70px;
}
.firstBlock{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    text-align: center;
    padding-top: 9px;
    font-weight: 700;
    font-size: 18px;
}
.firstBlockP{
    width: 158px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
}
.blockLine{
    width: 174px;
    border: 1px solid rgba(185, 180, 196, 0.3);
    position: absolute;
    top: 205px;
    left: 1070px;
}
.secondBlock{
    width: 40px;
    height: 40px;
    background: #F5F5F5;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    text-align: center;
    padding-top: 9px;
    font-weight: 700;
    font-size: 18px;
    color: #95939A;
}
.secondBlockP{
    width: 131px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
}
.formH2{
    margin: 79px 0 0 48px;
    font-weight: 600;
    font-size: 32px;
}

.secondP{
    margin: 15px 0 0 48px;
    font-weight: 600;
    font-size: 14px;
    color: #95939A;
}
.firstForm{
    margin: 85px 0 0 48px;
    flex-direction: column;
}
::placeholder{
    color: black;
    font-size: 16px;
}
.firstFormInput{
    margin: 30px 0;
    border: 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.125) ;
    border-radius: 4px;
    width: 775px;
    padding-left: 16px;
}
.firstFormInput:last-child{
    padding: 7px 0 7px 16px;
}
.firstFormInput:focus{
    outline: none;
}
.buttons{
    flex-direction: row;
}
.backBtn{
    font-weight: 400;
    color: #212529;
    background-color: white;    
    border-radius: 12px;
    padding: 13px 24px;
    width: 93px;
    border: 1px solid #212529;
    border-radius: 8px;
    margin: 88px 0 0 48px;
}
.nextBtn{
    margin: 88px 0 0 578px;
    padding: 10px 24px 19px 24px;
    width: 128px;
    background: #212529;
    border-radius: 8px;
    color: white;
    font-weight: 400;
}
.nextBtnArrow{
    vertical-align: middle;
}







